/* Custom properties */

:root {
  --clr-primary: #46bcde;
  --clr-black: black;
}

/* Main app document stylings */
.app {
  background-color: var(--clr-black);
  margin-left: -10px;
  margin-right: -10px;
}

.html {
  margin-top: -10px;
}

.movie-section-title strong {
  color: var(--clr-primary);
}

/*  */
